<div class="post_card border">
  <h3>Post # <%= i+1 %></h3>
  <p class="text"><%= post.text %></p>
  <div class="comments">
    <button><%= link_to "Add comment", new_comment_path(current_user, post) %></button>
    <%= bootstrap_form_with(model: @like, url: add_like_path(current_user, post), method: :post, local: :true) do |f| %>
      <%= f.submit 'Like' %>
    <%end%>
    Comments: <%= post.comments_counter %>
    Likes: <%= post.likes_counter %>
  </div>
</div>
